#bday {
    padding: 5px;
    width: 150px;
    border: 1px solid black;
}

.ourLogo {
    height: 100px;
    width: 100px;
    position: fixed;
        left: 21rem;
        top: 2rem;
    margin: 40px;
}


