.loading-logo {
    margin:16rem auto;
    display: block;
}

.App{
    /* background-color: red; */
    height: 100vh;
    color:white;
    font-size: 30px;
    text-align: center;
    margin-top: 20 px;
}

#bday {
    width: 200px;
    border: 1px solid black;
}