.webcam {
    display: flex;
    flex-direction: column;
    width: 16rem;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: 790px;
}

.camera {
    border-radius: 5px;
}

.prefix {
    color: black;
}