.webcam {
    display: flex;
    flex-direction: column;
    width: 16rem;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    height: 560px;
}

.camera {
    border-radius: 5px;
}

.prefix {
    color: black;
}

label {
    color: black
}

#email-address {
    width: 560px;
}
